  <div class="center">
    
    <form method="post">
      <div class="input-group mb-3">
        <div class="input-group-prepend" style="background-color: white;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg>
        </div>
        <input type="text"  class="form-control" style="border:none ;" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    <div class="txt_field">
      <div class="input-group-prepend">
        <i class="fa-solid fa-user"></i>
      </div>
      <input  type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      <!-- <label>Username</label> -->
    </div>
    <div class="txt_field">
      <!-- <iconify-icon icon="material-symbols:person"></iconify-icon> -->
      <input type="text" required>
      <label>Password</label>
      <i class="fa fa-lock" aria-hidden="true"></i>
    </div>
    <div class="pass">Forget Password?</div>
    <input type="submit" value="Login">
    <div class="signup_link">
      Don't have an account?<a href="#"> Signup here.</a>
    </div>
    

  </form>

  </div>
