<div class="container">
  <div class="nav">
    <h2 style="margin-left: 10px;">username</h2>
    <a href="search"><i class="fa-sharp fa-solid fa-magnifying-glass" id="nav-i"></i></a>
    <a><i class="fa-sharp fa-solid fa-inbox" id="nav-i"></i></a>
    <a><i class="fa fa-calendar" aria-hidden="true" id="nav-i"></i></a>
  </div>
  <div class="post">
    <div class="user">
      <!-- <p><i class="fa-sharp fa-solid fa-user" id="user-ico"></i></p> -->
      <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" alt="user-pp" class="user-pp">
      <p class="username">username</p>
    </div>
    <div class="user-post">
      <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy  text<span id="dots">...</span> <span id="more"> ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</span>
      </p>
      <!-- <button type="button" id="read" onclick="">Read More</button> -->
      <a><i class="fa-sharp fa-solid fa-face-smile" id="emoji"></i></a>
    </div>
    <div class="reactions">

    </div>
  </div>
</div>
