<div class="container">
  <h2>Welcome to FINE</h2>

  <!-- <div class="new-post">
    <p><i class="fa-solid fa-comment-medical" id="new-post-ico"></i></p>
  </div> -->

  <div class="row align-items-start">
    <div class="col-sm-6 col-md-4"  id="columns">
      <div class="card">
        <div class="card-head">
          <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" class="img" alt="...">
          <div>
            <h5 class="username">Tsepang</h5>
            <p class="profession">Family Counselor</p>
        </div>
        </div>
          <p class="text">FINE in psychological terms Feeling Freaked Out Insecure Neurotic and Emotional from inside we learn that we can control our emotions if...
          </p>
          <div class="card-bottom">
            <p><i class="fa-sharp fa-solid fa-face-smile"></i></p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <div class="card-body">
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4"  id="columns">
      <div class="card">
        <div class="card-head">
          <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" class="img" alt="...">
          <div>
            <h5 class="username">Ayabonga</h5>
            <p class="profession">Adult Counselor</p>
        </div>
        </div>
          <p class="text">I will be hosting an event
          </p>
          <img src="assets\download.jpg" alt="" class="post-image">
          <div class="card-bottom">
            <p><i class="fa-sharp fa-solid fa-face-smile"></i></p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <div class="card-body">
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4"  id="columns">
      <div class="card">
        <div class="card-head">
          <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" class="img" alt="...">
          <div>
            <h5 class="username">Tsepang</h5>
            <p class="profession">Marriage Counselor</p>
        </div>
        </div>
        <img src="assets\download (1).jpg" alt="" class="post-image">
          <p class="text"></p>
          <div class="card-bottom">
            <p><i class="fa-sharp fa-solid fa-face-smile"></i></p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <div class="card-body">
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4"  id="columns">
      <div class="card">
        <div class="card-head">
          <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" class="img" alt="...">
          <div>
            <h5 class="username">Mbasa</h5>
            <p class="profession">Adolescent Counselor</p>
        </div>
        </div>
          <p class="text">FINE in psychological terms Feeling Freaked Out Insecure Neurotic and Emotional from inside we learn that we can control our emotions if...
          </p>
          <div class="card-bottom">
            <p><i class="fa-sharp fa-solid fa-face-smile"></i></p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <div class="card-body">
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4"  id="columns">
      <div class="card">
        <div class="card-head">
          <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" class="img" alt="...">
          <div>
            <h5 class="username">Tsepang</h5>
            <p class="profession">Occupational Therapist</p>
        </div>
        </div>
          <p class="text">Occupational therapy helps you live your best life at home, at work – and everywhere else.
            It’s about being able to do the things you want <span style="font-weight: bold;">read more</span> and have to do. That could mean helping you overcome challenges
            learning at school, going to work, playing sport or simply doing the dishes. Everything is focused on your wellbeing
            and your ability to participate in activities.
          </p>
          <div class="card-bottom">
            <p><i class="fa-sharp fa-solid fa-face-smile"></i></p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <div class="card-body">
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4"  id="columns">
      <div class="card">
        <div class="card-head">
          <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" class="img" alt="...">
          <div>
            <h5 class="username">Tsepang</h5>
            <p class="profession">Psychologist</p>
        </div>
        </div>
          <p class="text">FINE in psychological terms Feeling Freaked Out Insecure Neurotic and Emotional from inside we learn that we can control our emotions if...
          </p>
          <img src="" alt="">
          <div class="card-bottom">
            <p><i class="fa-sharp fa-solid fa-face-smile"></i></p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <div class="card-body">
          </div>
      </div>
    </div>
  </div>
</div>
