<div class="container">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Find Practitioner
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <div class="row align-items-start">
    <div class="col-sm-6 col-md-4" id="columns">
      <div class="card">
        <div class="card-head">
          <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" class="img" alt="...">
          <div>
            <h5 class="username">Tsepang</h5>
            <p class="profession">Family Counselor</p>
          </div>
        </div>
        <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="card-bottom">
          <!-- <p><i class="fa-sharp fa-solid fa-face-smile"></i></p> -->
        </div>
        <a id="btnChat" onClick='Ayoba.startConversation("b233111f1ff48aaf226abbe56566942b613ea74b@dev.ayoba.me")' href="#" class="btn btn-primary">Chat</a>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var Ayoba = getAyoba()
 
 /**
 * Determine the mobile operating system and returns the
 * proper javascript interface
 */
 function getAyoba() {
    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
  
    // Windows Phone must come first because its UA also contains "Android"
    if (/windows phone/i.test(userAgent)) {
        return null;
    }
  
    if (/android/i.test(userAgent)) {
        return Android;
    }
  
    // iOS detection from: http://stackoverflow.com/a/9039885/177710
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
        return null; // todo
    }
  
    return "unknown";
 }
</script>
