
.dropdown{
  margin: 50px;
}
.btn{
  background: #FCBA21;
  font-weight: bold;
  font-size: larger;
}
.dropdown-menu{
  background: #fcba219f;
}
.card{
  height: 25rem;
  width: 15rem;
  background: #fcba21bd;
}
.img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 35px;
}
.username {
  padding-left: 10px;
}
.profession
.text {
  margin: 10px;
  font-weight: 500;
  height:100px;
  overflow: hidden;
}
