<div class="container">
  <div class="search-bar">
    <form action="" class="form">
      <input type="text" placeholder="search..."  id="search-txt">
      <a href="home"><i class="fa-sharp fa-solid fa-house" id="form-ico"></i></a>
    </form>
  </div>
  <div class="welcome"><p>Meet the team</p></div>
  <div class="practitioners">
    <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" alt="user-image">
    <div class="text">
      <h2 class="username">Username</h2>
      <p class="profession">Speciality</p>
    </div>
    <p><i class="fa-sharp fa-solid fa-message" id="icon"></i></p>
  </div>

  <div class="practitioners">
    <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" alt="user-image">
    <div class="text">
      <h2 class="username">Username</h2>
      <p class="profession">Speciality</p>
    </div>
    <p><i class="fa-sharp fa-solid fa-message" id="icon"></i></p>
  </div>

  <div class="practitioners">
    <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" alt="user-image">
    <div class="text">
      <h2 class="username">Username</h2>
      <p class="profession">Speciality</p>
    </div>
    <p><i class="fa-sharp fa-solid fa-message" id="icon"></i></p>
  </div>
  <div class="practitioners">
    <img src="assets\minions-4k-windows-background-wallpaper-preview.jpg" alt="user-image">
    <div class="text">
      <h2 class="username">Username</h2>
      <p class="profession">Speciality</p>
    </div>
    <p><i class="fa-sharp fa-solid fa-message" id="icon"></i></p>
  </div>
</div>
